body .docsify-pagination-container {
  margin: 1em 0 1em;
  border-top: 1px solid #eee;
}

#docsify-darklight-theme {
  position: fixed;
  left: 3px;
  bottom: 35px;
  z-index: 35;
  top: unset;
  background-size: unset;
  background-color: var(--background);
  height: 30px;
  width: 30px;
  background-position-x: center;
}

.sidebar-toggle-button {
  width: 20px;
  background-color: var(--background);
}
